*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    margin-inline: auto;
}
header{
    padding-block:4rem;
    background: linear-gradient(45deg , lightblue , dodgerblue);
}
article{
    padding-block: 2rem;
}
.article-title{
    padding-block:1rem;
}
.quote{
    display: block;
    font-style: italic;
    font-size: .8rem;
    padding-top:.5rem
}
.highlited-box{
    max-width: 20rem;
    margin-block: 1rem;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 1rem;
    font-style: italic;
}

@media(min-width:50rem){
    .row{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:2rem;
    }
    .right{
        justify-self: center;
        justify-content: center;
        background-color: red;
    }
}