:root{
    --white:hsl(0,0%,100%);
    --black:hsl(0,0%,0%);
    --secondary-color:hsl(120, 12%, 63%);
    --hightlight-color:hsl(46, 97%, 74%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 60rem;
    margin-inline: auto;
}
a{
    text-decoration: none;
}
h1{
    color: var(--white);
    font-size: clamp(1.5rem, 8vw, 3rem);
}

.centered-text{
    text-align: center;
}
.colored-background{
    background: var(--secondary-color);
}
.bordered-box{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.highlited-box{
    margin-inline: auto;
    max-width: 20rem;
    margin-block: 1rem;
    padding: 1rem;
    background-color: var(--hightlight-color);
    border-radius: 1rem;
    font-style: italic;
}

nav{
    background: var(--white);
    padding-block:1rem;
    position: sticky;
    top:0;
    box-shadow: 0 0 3px 1px var(--black);
}
.nav-items{
    display: flex;
    gap:3rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-list{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    list-style: none;
}
.logo{
    color: var(--black);
    font-weight:bold;
    font-size: 1.3rem;
}
.nav-list a{
    padding:1rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight:bold;
    font-size: 1.1rem;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-list a:hover,
.nav-active{
    background: var(--secondary-color);
}

header{
    padding-block:8rem;
    background: url("img/hero.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
button{
    cursor: pointer;
    padding: .8rem 2.4rem;
    margin-top: 2rem;
    background: white;
    outline: transparent;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 3vw, 1rem);
    transition:.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover{
    background: hsl(0, 0%, 90%);
    transform: scale(1.02);
}
article{
    padding-block: 2rem;
    text-align: justify;
}
.article-title{
    padding-block:1rem;
}
.quote{
    display: block;
    font-style: italic;
    font-size: .8rem;
    padding-top:.5rem
}

.right{
    padding-block: 1rem;
    text-align: center;
}
.row-three{
    padding-block: 2rem;
}
.row-three > div{
    display: grid;
    align-items: center;
    background: var(--white);
    padding: 1rem;
    margin-block: 1rem;
    min-height: 10rem;
    border-radius: 1rem;
}

@media(min-width:50rem){
    .row{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:4rem;
    }
    .row-three{
        display: grid;
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        min-height: 10rem;
    }
    .right{
        align-self: center;
        justify-content: center;
    }
}